body {
  font-family: Lato, Arial, sans-serif;
}

h1.title, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: Lato, Arial, sans-serif; }

button, .button {
  font-family: Lato, Arial, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  color: #222; }

fieldset label {
  text-align: left;
}

a {
  color: #1EA896;}
  a:hover {
    color: #FF715B;
  }
.form-centered {
  max-width: 400px;
  margin: auto;
  margin-bottom: 140px; }

.form-subscribe {
  text-align: center;
  border-radius: 4px;
  border: 3px dashed rgba(0, 0, 0, 0.1);
  padding: 64px 40px;
  margin-bottom: 24px; }
  .form-subscribe h4 {
    margin-bottom: 0; }
  .form-subscribe p {
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px; }
  .form-subscribe form {
    max-width: 400px;
    margin: auto; }
  .form-subscribe #form-subscribe-success {
    max-width: 500px;
    margin: auto;
    font-size: 18px;
    line-height: 28px; }
  .form-subscribe #subscribe-email-validation-error {
    margin-bottom: 8px;
    font-size: 15px; }
  .form-subscribe .form-subscribe-twitter div {
    margin: 24px 0;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3); }
  .form-subscribe .form-subscribe-twitter a {
    display: inline-block;
    padding-left: 21px;
    background: url("/img/common/icon-twitter.png") no-repeat left 4px; }

#toggle-form-subscribe {
  text-align: center;
  margin-bottom: 20px;
  font-size: 15px;
  margin-top: -20px; }

#nav-toggle-box {
  display: flex;
  align-items: center;
  padding: 8px 16px; }

#nav-toggle {
  margin-left: auto;
  color: #000;
  text-decoration: none;
  padding: 2px 8px; }

#nav-toggle-brand {
  position: relative;
  top: -1px; }

#nav-toggle-brand a,
#nav-toggle-brand img {
  width: 25%;
  max-width: 25%;
  height: auto;
}

/** Menu (full sized) **/
#top {
  display: flex;
  align-items: center;
  padding: 0 36px;
  height: 88px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  text-align: center;}
  #top #top-brand {
    margin-right: 52px; }
    #top #top-brand span,
    #top #top-brand a, #top #top-brand img {
      background: none;
      max-width: 90px;}
  #top ul {
    display: flex;
    align-items: center;
    margin: 0; }
  #top #top-nav-main {
    padding-left: 52px;
    border-left: 1px solid rgba(0, 0, 0, 0.15); }
    #top #top-nav-main li {
      font-size: 16px;
      font-weight: 500;
      margin-right: 40px; }
    #top #top-nav-main span,
    #top #top-nav-main a {
      display: inline-block; }
    #top #top-nav-main a {
      color: #000;
      text-decoration: none; }
      #top #top-nav-main a:hover {
        -moz-transition: all linear 0.2s;
        transition: all linear 0.2s;
        color: rgba(0, 0, 0, 0.6);
        text-decoration: underline; }
    #top #top-nav-main b a,
    #top #top-nav-main span {
      font-weight: 500;
      color: rgba(0, 0, 0, 0.4); }
    #top #top-nav-main b a {
      text-decoration: underline; }
      #top #top-nav-main b a:hover {
        color: #000; }
  #top #top-nav-extra {
    margin-left: auto;
    font-size: 14px; }
    #top #top-nav-extra span,
    #top #top-nav-extra a {
      color: rgba(0, 0, 0, 0.7);
      display: inline-block;
      border: 1px solid rgba(0, 0, 0, 0.5);
      text-decoration: none;
      line-height: 28px;
      border-radius: 28px;
      padding: 0 20px;
      transition: ease-in 0.2s; }
    #top #top-nav-extra a:hover {
      -moz-transition: all linear 0.2s;
      transition: all linear 0.2s;
      color: #fff;
      background-color: #ED734B;
      border: 1px solid #ED734B;
      border-radius: 28px;
      text-decoration: none; }
    #top #top-nav-extra span {
      color: rgba(0, 0, 0, 0.4);
      border-color: rgba(0, 0, 0, 0.2); }

.hero {
  padding-top: 2em;
  text-align: center; }
  .hero h1 {
    color: #222222;
    max-width: 880px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
    font-size: 64px;
    line-height: 72px;
    font-weight: 900; }
  .hero p {
    max-width: 740px;
    margin: auto;
    font-size: 21px;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 28px;
    padding-top: 28px;
    margin-bottom: 0;
    position: relative; }
    .hero p a {
      color: #000; }
    .hero p a:hover {
      color: rgba(0, 0, 0, 0.6); }
    .hero p:before {
      position: absolute;
      content: '';
      width: 40px;
      height: 3px;
      top: 0;
      left: 50%;
      margin-left: -20px;
      background: #ED734B; }
    .hero i {
      color: #E95524;
      font-size: 2em;
    }

  .hero.hook {}
    .hero.hook h1 {
      color: #F3B136;}
    .hero.hook span {
      color: #E95524;}
    .hero #sand {
      color: #F7C255;}

.pains {
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  align-content: center;
  text-align: left;
  margin-bottom: 1em;}
  .pains i {
    margin-right: 1em;}
  .pains h5 {
    font-weight: 500;
    color: #545454;}

  #cta p {
    font-size: 1em;}
  #cta .form-item{
    padding: 0 5% 0 5%;
    text-align: left;
    width: 100%;
    margin: 0 auto 1em auto;}
  #cta button, #cta .button {
    background-color: #E95524;
    transition: all linear 0.4s;
    width: 90%}
  #cta button:hover, #cta .button:hover {
    background-color: #F3B136;
    transition: all linear 0.4s;}

#scroll-more {
  text-align: center;
  margin-bottom: 2em;}
  #scroll-more span {
    vertical-align: top;
    font-size: 5em;
    transition: all linear 0.2s;  }
  #scroll-more span.highlight {
    font-size: 1em;
    color: #E95524;  }
  #scroll-more a {
    color: #E95524;
    font-size: 1em;}
  #scroll-more a:hover, #scroll-more span:hover {
    color: #F3B138;
    transform: scale(1.4);
    transition: all linear 0.2s; }

#features {
margin: 50px 0 104px 0;
text-align: center; }
#features h3 {
  margin-top: 0; }
#features .row:first-child {
  padding-bottom: 2em;
  margin-bottom: 2em;
  border-bottom: 1px dashed #afafaf;}
#features p {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.75); }
#features .item {
  padding: 0 24px; }

#contents {
  counter-reset: count;
  max-width: 400px;
  margin: 24px auto 60px auto;
  padding: 32px;
  background: #fbfbfb;
  border: 1px solid rgba(0, 0, 0, 0.08); }
  #contents.wide {
    max-width: none;
    margin-bottom: 24px; }
  #contents ol {
    margin: 0; }
  #contents li {
    line-height: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    margin-right: 24px;
    counter-increment: count; }
  #contents li:last-child {
    border-bottom: none; }
  #contents a {
    display: block;
    text-decoration: none;
    position: relative;
    padding-left: 24px;
    color: #259d92; }
    #contents a:before {
      position: absolute;
      left: 0;
      content: counter(count, decimal-leading-zero);
      font-size: 13px;
      color: rgba(0, 0, 0, 0.3); }
    #contents a:hover {
      -moz-transition: all linear 0.2s;
      transition: all linear 0.2s;
      color: #000;
      text-decoration: underline; }

#main {
  margin: auto;
  max-width: 1128px; }

body.docs #main,
body.grafs-index #main,
body.page-redactor-index #main {
  max-width: none; }

body.grafs-index #footer,
body.page-redactor-index #footer {
  margin-top: 0; }

body.docs #top {
  margin-bottom: 0; }

body.page-account .hero {
  padding: 0; }
  body.page-account .hero h1 {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 48px; }

.content {
  max-width: 840px;
  margin: auto; }

.chart-example {
  position: relative;
  margin-top: 44px;
  margin-bottom: 40px; }
  .chart-example.inverted {
    padding: 32px;
    background: #191d21; }
    .chart-example.inverted .chart-selector a {
      color: rgba(255, 255, 255, 0.85);
      border-color: rgba(255, 255, 255, 0.3); }
    .chart-example.inverted pre {
      color: rgba(255, 255, 255, 0.85);
      padding: 0;
      background: #191d21; }

.chart-selector {
  text-align: center;
  font-size: 14px;
  margin-bottom: 24px; }
  .chart-selector a {
    display: inline-block;
    background: rgba(46, 196, 182, 0.05);
    border: 1px solid rgba(46, 196, 182, 0.25);
    border-radius: 40px;
    line-height: 28px;
    padding: 0 12px;
    color: #000;
    text-decoration: none;
    margin: 0 4px; }
  .chart-selector a:hover,
  .chart-selector a.active {
    text-decoration: none;
    background: #2ec4b6;
    color: #fff;
    border: 1px solid transparent; }
  .chart-selector a:hover {
    -moz-transition: all linear 0.2s;
    transition: all linear 0.2s; }

.chart-section-head {
  text-align: center;
  font-weight: 900;
  margin-top: 64px;
  margin-bottom: -16px;
  font-size: 16px;
  line-height: 28px; }

.posts {
  list-style: none;
  margin: auto;
  margin-top: 48px;
  margin-bottom: 128px;
  max-width: 680px;
  text-align: center; }

  .posts li {
    margin-bottom: 40px; }

  .posts h2 {
    font-size: 22px;
    font-weight: normal;
    margin: 0;
    line-height: 28px; }

  .posts h2 a {
    color: #1eabf2;
    text-decoration: none; }

  .posts h2 a:hover {
    -moz-transition: all linear 0.2s;
    transition: all linear 0.2s;
    color: #000;
    text-decoration: underline; }

  .posts time {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5); }

.post-box {
  max-width: 740px;
  margin: auto; }

.post {
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 40px; }



#kube-faq {
  max-width: 740px;
  margin: auto;
  font-size: 17px;
  line-height: 28px;
  margin-bottom: 104px;
  border-top: 1px solid rgba(0, 0, 0, 0.07);
  padding-left: 5%;
  padding-right: 5%;}
  #kube-faq h2 {
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    line-height: 32px;
    margin-top: 80px;
    margin-bottom: 40px; }

.components {
  text-align: center; }
  .components.lists {
    text-align: center; }
    .components.lists .item {
      padding: 24px; }
      .components.lists .item:hover {
        background: #f8f8f8; }
  .components .start {
    font-size: 24px;
    line-height: 32px; }
  .components #search-box {
    padding: 24px;
    background: #ebf0f6;
    margin-bottom: 24px; }
  .components .item {
    background: #fcfcfc;
    padding: 68px 24px 60px 24px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px #cec8c8;
    transition: all linear 0.2s; }
    .components .item:hover {
      -moz-transition: all linear 0.2s;
      transition: all linear 0.2s;
      background: #f8f8f8;
      box-shadow: 3px 3px 5px #cec8c8;}
  .components figure {
    margin-bottom: 0; }
  .components h4 {
    font-size: 19px;
    margin-top: 0;
    margin-bottom: 8px;
    }
    .components h4 a {
      color: #3794de;
      text-decoration: none; }
    .components h4 a:hover {
      -moz-transition: all linear 0.2s;
      transition: all linear 0.2s;
      color: #000;
      text-decoration: underline; }

  .components ul {
    margin-left: 0;
    margin-top: 24px;
    list-style: none; }
  .components li {
    line-height: 32px;
    margin-bottom: 4px; }
    .components li a {
      display: inline-block;
      color: #3794de;
      line-height: 24px; }
      .components li a:hover {
        -moz-transition: all linear 0.2s;
        transition: all linear 0.2s;
        color: #000;
        text-decoration: underline; }
  .components p {
    margin: auto;
    max-width: 220px;
    font-size: 13px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.5); }
  .components #docs-search-results p {
    max-width: none;
    margin-bottom: 16px; }

.demo-head {
  font-size: 24px;
  line-height: 32px;
  font-weight: 900;
  margin-top: 80px;
  margin-bottom: 20px;
  text-align: center; }


.not-found {
  padding: 40px 0;
  text-align: center;
  font-style: italic;
  color: rgba(0, 0, 0, 0.5); }

.callout {
  background: #f8f8f8;
  padding: 40px 48px; }

.callout-form {
  margin-bottom: 40px; }

.color-black {
  color: #000; }

tr.border-none td {
  border: none; }


#footer {
  display: flex;
  border-top: 1px solid #eee;
  padding: 0 28px;
  padding-top: 24px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5); }
  #footer p {
    order: 1; }
  #footer nav {
    order: 2;
    margin-left: auto; }
  #footer nav ul {
    display: flex; }
  #footer nav ul li {
    margin-left: 20px; }
  #footer nav ul li span {
    color: rgba(0, 0, 0, 0.3); }
  #footer nav ul li a {
    color: rgba(0, 0, 0, 0.65);
    text-decoration: none; }
  #footer nav ul li a:hover {
    color: #000;
    text-decoration: underline; }

@media (max-width: 768px) {
  #top {
    display: block;
    height: auto;
    padding-bottom: 24px; }
    #top ul {
      display: block; }
    #top #top-brand {
      display: none; }
    #top #top-nav-main {
      padding: 0;
      border: none; }
    #top #top-nav-extra {
      margin: 0; }
    #top #top-nav-main li,
    #top #top-nav-extra li {
      text-align: center;
      width: auto;
      margin: 16px 0;
      padding: 0; }
  #subnav li,
  #subnav ul li {
    text-align: center;
    border: none;
    display: block;
    margin: 16px 0; }

/** Page titles **/
  .hero {
    margin-top: 32px;
    padding-top: 0;
    padding-left: 20px;
    padding-right: 20px; }
    .hero h1 {
      font-size: 40px;
      line-height: 48px; }
    .hero p {
      font-size: 16px;
      line-height: 24px; }
    .hero i {
      font-size: 2em;
    }

  .posts,
  .post-box,
  #main {
    padding-left: 20px;
    padding-right: 20px; }
  #action-buttons .button,
  #action-buttons button {
    margin: 8px 0; }

  #footer {
    display: block;
    text-align: center; }
    #footer nav ul {
      display: block;
      margin-bottom: 40px; }
    #footer nav ul li {
      margin: 8px 0; }
  }

@media (min-width: 768px){
  .pains {
    text-align: left;
  }
}

/** Overrides Kube's .highlight properties **/
.highlight {
  color: #F3B136;
  background-color: #fff;
}

/** Get Invited page **/
#forum-desc {
  border-bottom: 1px dashed #6E6E6E;
}
#forum-hook {
  padding: 5%;}
  #forum-hook i{
    font-size: 1.2em;
    color: #1EA896;  }

  #sign-up button, #sign-up .button{
    background-color: #1EA896;
    transition: all ease-in 0.4s;}
    #sign-up button:hover, #sign-up .button:hover{
      background-color: #FF715B;
      transition: all ease-in 0.4s;
    }
