  <footer id="footer">
    <nav>
      <ul>
        <li><span>SandFil</span></li>
        <li>
          <a href="/about/">About Us</a>
        </li>
        <li>
          <a href="/products/">Products</a>
        </li>
        <li>
          <a href="/features/">Features</a>
        </li>
          <li>
          <a href="/events/">Events</a>
        </li>
        <li>
          <a href="https://www.facebook.com/SandFilInternational/}}">Say hello to us on Facebook!</a>
        </li>
      </ul>
    </nav>
    <p>&copy; Licence SandFil</p>
  </footer>
