{{ define "title"}} {{ .Site.Title}} {{end}} {{ define "header"}} {{ partial "header" .}} {{end}} {{ define "main"}}

<div id="main">
  <div class="hero hook big-icons">
    <h1><span>Imagine</span> all your people management pains, <span>solved</span>.</h1>
    <p>
      Get invited to our <span>FREE</span> seminars to learn about a solution for problems like:
    </p>
    <br  />
    <div class="row gutters align-center" >
      <div class="col col-5 item" id ="pains">
        <div class="pains">
          <i class="fa fa-thermometer-full"></i>
          <h5>Employee <span>performance </span>issues</h5>
        </div>
        <div class="pains">
          <i class="fa fa-thermometer-3"></i>
          <h5><span>Ineffective</span> year end appraisals</h5>
        </div>
        <div class="pains">
          <i class="fa fa-thermometer-2"></i>
          <h5>Employee <span>disciplinary </span>issues</h5>
        </div>
        <div class="pains">
          <i class="fa fa-thermometer-2"></i>
          <h5>Employee <span>attitude </span>issues</h5>
        </div>


      </div>
      <div class="col col-4 item" id="cta">
        <form class="" action="https://formspree.io/wilson@sandfil.com" method="post">
          <div class="form-item">
            <label>Enter Your Name</label>
            <input type="text" name="(Seminar) Name" placeholder="EG: John Doe" required>
          </div>
          <div class="form-item">
            <label>Enter Your E-mail & Contact number</label>
            <div class="prepend">
              <input type="email" name="(Seminar) Email" placeholder="your@email.com" required/>
              <input type="tel" name="(Seminar) phone" autocomplete="off" placeholder="Eg: 0390008888" pattern="^(1?)(-| ?)(\()?([0-9]{3})(\)|-| |\)-|\) )?([0-9]{3})(-| )?([0-9]{4}|[0-9]{4})$" required>
            </div>

          </div>
          <div class="form-item">
          </div>
          <div id="action-buttons">
            <input type="submit" class="button primary big" href="" value="Get Invited">
            <a class="button outline big" href="/contact/">Learn More</a>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div id="scroll-more">
      <a href="#hook" alt="scroll down to features"><span class="caret down"></span></a>
  </div>
  <div class="hero hook" id="hook">
    <h2><span id="sand">Sand</span><span>Merit</span> is a Performance Reward System</h2>
    <p>Here's how SandMerit can <span>help</span> you.</p>
  </div>

  </div>
  <div id="features">
    <div class="row gutters">
      <div class="col col-4 item">
        <figure>
          <img alt="Stats" height="48" src="/img/features/001-stats.png" width="48">
        </figure>
        <h3><span class="highlight">Increase</span> Performance</h3>
        <p>The most effective performance reviews are the ones done frequently. SandMerit simplifies that for you.</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <img alt="Time" height="48" src="/img/features/002-clock.png" width="48">
        </figure>
        <h3><span class="highlight">Save</span> Time</h3>
        <p>We know you're busy. As important as it is to monitor performances, it doesn't have to take so much time.</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <img alt="Reward" height="48" src="/img/features/003-gift.png" width="48">
        </figure>
        <h3><span class="highlight">Motivate</span> Employees</h3>
        <p>Everyone loves to be rewarded for a job well done. SandMerit offers a variety of enticing products from our suppliers. There's something for everybody.</p>
      </div>
    </div>

    <div class="row gutters">
      <div class="col col-4 item">
        <h4>Easy</h4>
        <p>Made with organizations of all sizes in mind, SandMerit is easy to use, easier to implement, and even easier on your budget.</p>
      </div>
      <div class="col col-4 item">
        <h4>Efficient</h4>
        <p>SandMerit offers a robust, efficient way to measure performance. Never dread performance management again.</p>
      </div>
      <div class="col col-4 item">
        <h4>Simple</h4>
        <p>No need for IT personnel, no need for technical knowledge. Just subscribe and reap the benefits.</p>
      </div>
    </div>
  </div>
<script>
// URL updates and the element focus is maintained
// originally found via in Update 3 on http://www.learningjquery.com/2007/10/improved-animated-scrolling-script-for-same-page-links

// filter handling for a /dir/ OR /indexordefault.page
function filterPath(string) {
return string
  .replace(/^\//, '')
  .replace(/(index|default).[a-zA-Z]{3,4}$/, '')
  .replace(/\/$/, '');
}

var locationPath = filterPath(location.pathname);
$('a[href*="#"]').each(function () {
var thisPath = filterPath(this.pathname) || locationPath;
var hash = this.hash;
if ($("#" + hash.replace(/#/, '')).length) {
  if (locationPath == thisPath && (location.hostname == this.hostname || !this.hostname) && this.hash.replace(/#/, '')) {
    var $target = $(hash), target = this.hash;
    if (target) {
      $(this).click(function (event) {
        event.preventDefault();
        $('html, body').animate({scrollTop: $target.offset().top}, 1000, function () {
          location.hash = target;
          $target.focus();
          if ($target.is(":focus")){ //checking if the target was focused
            return false;
          }else{
            $target.attr('tabindex','-1'); //Adding tabindex for elements not focusable
            $target.focus(); //Setting focus
          };
        });
      });
    }
  }
}
});
</script>
{{ end }} {{ define "footer"}} {{ partial "footer" .}} {{end}}
