{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}

{{ define "main" }}

<div class="hero" class="wrap">
  <h1>Events</h1>
    <p>See what SandFil and our partners have been up to.</p>
</div>

  <div class="message success w50 center" data-component="message"> We hold FREE seminars EVERY MONTH, come join us! Click <a href="/contact">here</a> to receive an exclusive invitation.<span class="close small"></span></div>


<ul class="posts">

 {{ range .Paginator.Pages.ByWeight }} {{ partial "page-summary" . }} {{ end }}
  <section>{{ partial "pagination" .}}</section>
</ul>

{{ end }}
{{ define "footer" }}
  {{ partial "footer" . }}
{{ end }}
